VITE_BACKEND_URL=ws://localhost:3000
VITE_BACKEND_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJidWNrZXQiOiJzcGxpdCIsImlhdCI6MTY3NjczNjA4N30.50aOCBlctj4S8zW93kQfk0VAPIO1hRx0ojZrK4X1d68
VITE_CIPHER_SALT=5pngsVamkuKd4868Sl9DIFBQWEAhjWTW
