.w-10ch {
  min-width: 10ch;
}
.w-15ch {
  min-width: 15ch;
}
.w-full {
  width: 100%;
}

@mixin dark-theme-force {
  & {
    @content;
  }
  .body--dark & {
    @content;
  }
}

.muted-1 {
  @include dark-theme-force {
    color: color-mix(in srgb, currentColor 75%, transparent);
  }
}

.muted-2 {
  @include dark-theme-force {
    color: color-mix(in srgb, currentColor 60%, transparent);
  }
}

.muted-3 {
  @include dark-theme-force {
    color: color-mix(in srgb, currentColor 25%, transparent);
  }
}

.text-amount {
  color: $amount-color;
  .body--dark & {
    color: $amount-dark-color;
  }
}

.text-special {
  color: $special-color;
  .body--dark & {
    color: $special-dark-color;
  }
}

.text-cold {
  color: $cold-color;
  .body--dark & {
    color: $cold-dark-color;
  }
}

.text-hot {
  color: $hot-color;
  .body--dark & {
    color: $hot-dark-color;
  }
}

::selection {
  background: $primary;
  color: #fff;
}

::-moz-selection {
  background: $primary;
  color: #fff;
}
