.w-10ch {
  min-width: 10ch;
}
.w-15ch {
  min-width: 15ch;
}
.w-full {
  width: 100%;
}
.muted-1 {
  color: color-mix(in srgb, currentColor 60%, transparent);
}
.muted-2 {
  color: color-mix(in srgb, currentColor 25%, transparent);
}
