.w-10ch {
  min-width: 10ch;
}
.w-15ch {
  min-width: 15ch;
}
.w-full {
  width: 100%;
}

@mixin dark-theme-force {
  & {
    @content;
  }
  .body--dark & {
    @content;
  }
}

.muted-1 {
  @include dark-theme-force {
    color: color-mix(in srgb, currentColor 75%, transparent);
  }
}

.muted-2 {
  @include dark-theme-force {
    color: color-mix(in srgb, currentColor 60%, transparent);
  }
}

.muted-3 {
  @include dark-theme-force {
    color: color-mix(in srgb, currentColor 25%, transparent);
  }
}

::selection {
  background: $primary;
  color: #fff;
}

::-moz-selection {
  background: $primary;
  color: #fff;
}
