$primary   : #5c6bc0
$secondary : #32de8a
$accent    : #5c6bc0

$dark      : #2c2c2c

$positive  : #66bb6a
$negative  : #F44336
$info      : #00a7e1
$warning   : #fcab10

$button-border-radius: 4px
$button-padding: 10px 24px 7px 24px

$base-color : #f5f5f5
$base-dark-color : #242424

$separator-color      : #dedede !default
$separator-dark-color : #454545 !default

$dark-shadow-color : #000000
