$primary   : #00695c
$secondary : #32de8a
$accent    : #9d69a3

$dark      : #1d1d1d

$positive  : #72b01d
$negative  : #bb0a21
$info      : #00a7e1
$warning   : #fcab10

$button-border-radius: 4px
$button-padding: 10px 24px 7px 24px
