$primary   : #5C6BC0
$secondary : #26A69A
$accent    : #5C6BC0

$dark      : #1D1D1D

$positive  : #66BB6A
$negative  : #F44336
$info      : #31CCEC
$warning   : #F2C037

$button-border-radius: 4px
$button-padding: 10px 24px 7px 24px
